<div class="container">

    <h1> Hello <%= student_name %> </h1>

    <!-- Message display area -->
    <ul>
        <% if (messages.success_msg) { %>
            <li class="success-message"><%= messages.success_msg %></li>
        <% } %>
        <% if (messages.error_msg) { %>
            <li class="error-message"><%= messages.error_msg %></li>
        <% } %>
    </ul>

    <!-- Button container to arrange buttons horizontally -->
<div class="button-container">
    <!-- Button to add a new car -->
    <form action="/students/add-car" method="POST">
        <input type="text" name="car_plate" placeholder="Car Plate">
        <input type="text" name="make" placeholder="Make">
        <input type="text" name="model" placeholder="Model">
        <input type="text" name="colour" placeholder="Colour">
        <button type="submit">Add Car</button>
    </form>
    
    <!-- Button to change car details -->
    
<form action="/students/change-car-details" method="POST">
     <input type="text" name="new_car_plate" placeholder="New Car Plate">
    <input type="text" name="new_make" placeholder="New Make">
    <input type="text" name="new_model" placeholder="New Model">
    <input type="text" name="new_colour" placeholder="New Colour">
    <button type="submit">Update Car Details</button>
</form>


    <!-- Button to remove car will automatically remove car and say "make + model successfully removed"--> 
    <form action="/students/delete-car" method="POST" onsubmit="return confirm('Are you sure you want to delete your car?');">
        <button type="submit">Delete Car</button>
    </form>


    <!-- button to join ballot -->
    <form action="/students/enter-ballot" method="POST">
        <button type="submit">Enter Ballot</button>
    </form>

</div>