<div class="container">
    <iframe src="https://giphy.com/embed/NMdRYmkFSj2A2I9QK9" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/theoffice-episode-11-the-office-tv-NMdRYmkFSj2A2I9QK9">via GIPHY</a></p>
    

        <section id="about">
            <h2>About the System</h2>
            <p>This system is designed to facilitate the allocation of parking spots to students 
                through a fair ballot system. Enter your details to participate in the parking spot ballot.</p>

        </section>

        <section id="login">
          
            <a href="/students/login">   <h2>Login</h2> </a>
        </section>

</div>