
<div class="container">
<h1>Login</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <ul>
      <% if (messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <form action="/students/login" method="POST">
      <div>
        <input
          type="text"
          id="student_ID"
          name="student_ID"
          placeholder="Student ID"
          required 
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>

      <a href="/students/register">Not registered? Register here</a>
    </form>
  </div>