<div class="container">

    <%
        // Default value setup
        student_name = typeof student_name !== 'undefined' ? student_name : '';
        student_ID = typeof student_ID !== 'undefined' ? student_ID : '';
       
        student_house = typeof student_house !== 'undefined' ? student_house : '';
        errors = typeof errors !== 'undefined' ? errors : [];
    %>

    <h1> Register </h1>

    <ul> 
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% })} %>
    </ul>

     <form action="/students/register" method="POST">
        <div>
            <input 
            type="text" 
            id="student_name" 
            name="student_name" 
            placeholder="Student Name" 
            value="<%= student_name %>"
            required/>
        </div>
        <div>
            <input 
            type="text" 
            id="student_ID" 
            name="student_ID" 
            placeholder="Student ID" 
            value="<%= student_ID %>"
            required/>
        </div>
      
        <div>
            <input 
            type="text" 
            id="student_house" 
            name="student_house" 
            placeholder="Student House" 
            value="<%= student_house %>"
            required/>
        </div>
        <div>
            <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Password" 
            required/>
        </div>
        <div>
            <input 
            type="password" 
            id="password2" 
            name="password2" 
            placeholder="Confirm password" 
            required/>
        </div>
        <div>
            <input 
            type="submit"
            value="Register" 
         />
        </div>
        <a href="/students/login">Already registered? Login here</a>
    </form>
</div>